<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<servlet>
		<description>
		</description>
		<display-name>AdminServlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.madhuri.LearnerAcademy.controller.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentServlet</display-name>
		<servlet-name>StudentServlet</servlet-name>
		<servlet-class>com.madhuri.LearnerAcademy.controller.StudentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.madhuri.LearnerAcademy.controller.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TeacherServlet</display-name>
		<servlet-name>TeacherServlet</servlet-name>
		<servlet-class>com.madhuri.LearnerAcademy.controller.TeacherServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SubjectServlet</display-name>
		<servlet-name>SubjectServlet</servlet-name>
		<servlet-class>com.madhuri.LearnerAcademy.controller.SubjectServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClassesServlet</display-name>
		<servlet-name>ClassesServlet</servlet-name>
		<servlet-class>com.madhuri.LearnerAcademy.controller.ClassesServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.madhuri.LearnerAcademy.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.madhuri.LearnerAcademy.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClassReportServlet</display-name>
		<servlet-name>ClassReportServlet</servlet-name>
		<servlet-class>com.madhuri.LearnerAcademy.controller.ClassReportServlet</servlet-class>
	</servlet>	
	
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/StudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherServlet</servlet-name>
		<url-pattern>/TeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SubjectServlet</servlet-name>
		<url-pattern>/SubjectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassesServlet</servlet-name>
		<url-pattern>/ClassesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassReportServlet</servlet-name>
		<url-pattern>/ClassReportServlet</url-pattern>
	</servlet-mapping>
	
</web-app>